<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Party</th>
      <th>Description</th>
      <th>Date</th>
      <th>Host</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @event.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.users.username %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'See the event', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


